.headerbar {
  display: flex;
  align-items: center;
  height: .4rem;
  background-color: #fff;
  border-bottom: .01rem solid #ddd;
  &__title {
    flex: 3;
    text-align: center;
  }
  .icontext--left{
    margin-left: .1rem;
    margin-right: .05rem;
    flex: 1;
  }
  .icontext--right{
    margin-right: .1rem;
    margin-left: .05rem;
    flex: 1;
  }
}
