body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

img {
    border: 0 none;
    vertical-align: top;
}

i,
em {
    font-style: normal;
}

ol,
li,
ul {
    list-style: none;
}

input,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-family: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #666;
}
html{
    width: 100%;
    height: 100%;
    font-size: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: Microsoft YaHei, Arial;
  line-height: 1.5;
  color: #000;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}

input[type="text"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.i{
  font-size: 20px;
}
